@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 20px;
    margin-right: 20px;
    background-image: linear-gradient(to right, #0C85FA, #FA5800);
}
header{
    text-align: center;
    font-family: sans-serif;
    margin: 30px;
    color: white;
}

main{
    background-color: rgba(0, 0, 0, 0.329) ;
    max-width: 380px;
    min-width: 310px;
    padding-bottom: 10px;
    margin: auto ;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.281);
}

#valor {
    font-family: sans-serif;
    background-color: white;
    border-radius: 5px 5px 0px 0px ;
    text-align: end;
    width: 100%;
    padding: 35px;
    font-size: 25px;
}
.botao {
    border: none;
    background-color: white;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 25px;
    padding: 20px;
    width: 20%;
    margin: 5px 2px 5px 13.5px;
    cursor: pointer;
}
.botao:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.13);
}
#igual {
    color: white;
    background-color: rgba(252, 5, 5, 0.274);
}
#igual:hover {
    background-color: rgb(204, 3, 3);
}