@charset "UTF-8";

body{
    display: flex;
    justify-content: center;
   
    background-image: linear-gradient(45deg, rgb(255, 88, 88), rgb(95, 95, 206));
    margin-bottom: 100px;
}
header{
    text-align: center;
    color: white;
    font-family: sans-serif;
}
header > p {
    font-size: 18px;
}
#cont-principal{
 min-height: 400px;
 max-width: 400px;
 background-color: rgba(0, 0, 0, 0.26);
 border-radius: 10px;
 padding: 30px;
}
main > section > div > input{
    padding: 10px;
    font-size: 18px;
    font-family: sans-serif;
   
}
#txto{
    border-radius: 5px;
    border: none;
}
#add{
    background-color: rgb(73, 73, 161);
    border: none;
    border-radius: 5px;
    color: white;
    transition-duration: 0.3s;
    margin-top: 20px;
}
#add:hover{
    background-color: rgb(95, 95, 206) ;
    transition-duration: 0.3s;
}
#apagar{
    background-color:rgb(255, 88, 88);
    border: none;
    border-radius: 5px;
    color: white;
    transition-duration: 0.3s;
}
#apagar:hover{
    background-color:  red; ;
    transition-duration: 0.3s;
}
.del{
    display: flex;
    flex-direction: column;
    align-items:flex-start ;
    font-size: 18px;
    font-family: sans-serif;
    transition-duration: 0.7s;
    background-color: rgba(0, 0, 0, 0.452);
    border-radius: 10px;    
}

#botao{
    padding: 5px;
    font-size: 18px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 3px;
    transition-duration: 0.3s;  
}
#botao:hover{
    background-color: orangered;
    transition-duration: 0.3s;
    animation-fill-mode: forwards;
}
#anot{
    transition-duration: 0.4s;
    transform: translateX(5px);
 
}
#anot.animar{
    transition-duration: 0.4s;
    transform: translateY(5px);
   
}



